<?xml version="1.0" encoding="UTF-8"?>
<Context>
  <!-- Copy to Tomcat/conf/Catalina/localhost/shopsphere.xml and replace CHANGE_ME. -->
  <Resource name="jdbc/ShopSphereDB" auth="Container" type="javax.sql.DataSource" driverClassName="com.mysql.cj.jdbc.Driver" url="jdbc:mysql://localhost:3306/shopsphere?useSSL=false&amp;serverTimezone=UTC" username="root" password="CHANGE_ME" maxActive="20" maxIdle="10" maxWait="10000"/>
</Context>
